﻿@page
@model PizzaOrder.Pages.Checkout.CheckoutModel
@{
}


<h1>Your Order!</h1>
@{
    var imagePath = "~/images/Pizzas/" + (@Model.ImageTitle + ".jpg");
}
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src="@imagePath" class="w-100" asp-append-version="true" />
        <p>Your order for the @Model.PizzaName pizza is ready!</p>
        <p>Total price for your order is: <strong>@Model.PizzaPrice</strong>$</p>
    </div>
    <a class="btn btn-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>
</div>