﻿@page
@model PizzaOrder.Pages.Forms.CustomPizzaModel
@{
}
<div class="container text-center">
    <h1>Create Own Pizza!</h1>
    <form class="mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 alert-light col-4" method="post">
        <input type="text" asp-for="Pizza.PizzaName" placeholder="Give your pizza name..." />
        <br />
        <input type="checkbox" asp-for="Pizza.TomatoSauce" placeholder="Tomato Sause" />Tomato Sause
        <br />
        <input type="checkbox" asp-for="Pizza.Cheese" placeholder="Cheese" />Cheese
        <br />
        <input type="checkbox" asp-for="Pizza.Paperoni" placeholder="Paperoni" />Paperoni
        <br />
        <input type="checkbox" asp-for="Pizza.Mushroom" placeholder="Mushroom" />Mushroom
        <br />
        <input type="checkbox" asp-for="Pizza.Tuna" placeholder="Tuna" />Tuna
        <br />
        <input type="checkbox" asp-for="Pizza.Pineapple" placeholder="Pineapple" />Pineapple
        <br />
        <input type="checkbox" asp-for="Pizza.Ham" placeholder="Ham" />Ham
        <br />
        <input type="checkbox" asp-for="Pizza.Beef" placeholder="Beef" />Beef
        <br />

        <button class="btn btn-primary mt-1" type="submit">Order</button>
    </form>
</div>