html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pizza_image {
    max-width: 200px;
}

.custom_pizza_block {
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    background-color: #F7F7F7;
}

.pizza_image {
    max-width: 100px;
}