﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome to Pizza Order Project</h1>
    <h2 class="mb-5">Pizzas project lorem ipsum lodor sit amet.</h2>
    <img class="image" src="~/images/pizza.png" />
    <br class="mb-5" />
    <a class="btn btn-primary mt-5" asp-area="" asp-page="Checkout/ThankYou">GET PIZZA</a>
</div>
