﻿@page
@model PizzaOrder.Pages.PizzaModel
@{
}

<div class="container">
    <div class="container">
        <h1>Order Pizza</h1>
        <p>Choose one or try our Pizza builder</p>
        <div>
            <div class="pizza-block">
                <div class="col-12">
                    <div class="w-100 d-flex gap-3 custom_pizza_block">
                        <img class="pizza_image" src="~/images/Pizzas/240-2409122_transparent-pizza-clipart-png-fast-food-illustration-png.png" />
                        <div class="ml-5">
                            <h3 class="mb-2">Create your own pizza!</h3>
                            <p>Make your own pizza using our Pizza builder</p>
                            <a class="btn btn-dark" asp-area="" asp-page="Forms/CustomPizza">Create</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                @foreach (var pizza in Model.fakePizzaDB)
                {
                    var imagePath = "~/images/Pizzas/" + (pizza.ImageTitle + ".jpg");

                    <div class="col mb-5">
                        <img src="@imagePath" class="pizza_image" asp-append-version="true" />
                        <h3>@pizza.PizzaName</h3>
                        <a class="btn btn-primary" asp-area="" asp-page="Checkout/Checkout" asp-route-ImageTitle="@pizza.ImageTitle" asp-route-PizzaPrice="@pizza.FinalPrice">Get this Pizza</a>
                        <br />
                    </div>
                }
            </div>
        </div>
    </div>
</div>